/* CSS */

#color-button {
    /* padding: 0.6em 2em; */
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 3px;
    width: 78px;
    height: 60px;
    font-size: 18px;
    text-align: center;
  }

#color-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: scale(1.05);
}

  #color-button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-color-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
  }
  
  @keyframes glowing-color-button {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  #color-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 20px;
  }

body {
    background-color: rgb(72, 66, 72);
    margin: 0;
}

.heading {
    margin: 0px;
    padding: 50px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons-box {
    padding-bottom: 0px;
    height: 300px;
    border-radius: 50px;
    padding-top: 0px;
    width: 350px;
}

.frame {
    width: 350px;
    height: 500px;
    padding: 10px;
    margin: 50px;
    border: 5px solid green;
    border-radius: 50px;
    background-color: #222222ab;
    
}

.screen {
    border-radius: 15px;
    width: 340px;
    height: 75px;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color:rgb(107, 91, 91);
    padding: 5px;
}

.subtract {
    font-weight: 900;
    font-size: 35px;
}

.little-numbers {
    font-size: 18px;
}

.big-numbers {
    font-size: 50px;
}

.little-numbers,
.big-numbers {
    color: whitesmoke;
    text-align: right;

}

@font-face {
    font-family: calculator;
    src: url(/calculator-font/Calculator.ttf);
}

.footer {
    background-color: #111;
    color: whitesmoke;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;;
    font-size: 16px;
    height: 15px;
    width: 100%;
    bottom: 0;
    position: absolute;

}